pg_dump: warning: there are circular foreign-key constraints on this table:
pg_dump: detail: hypertable
pg_dump: hint: You might not be able to restore the dump without using --disable-triggers or temporarily dropping the constraints.
pg_dump: hint: Consider using a full dump instead of a --data-only dump to avoid this problem.
pg_dump: warning: there are circular foreign-key constraints on this table:
pg_dump: detail: chunk
pg_dump: hint: You might not be able to restore the dump without using --disable-triggers or temporarily dropping the constraints.
pg_dump: hint: Consider using a full dump instead of a --data-only dump to avoid this problem.
pg_dump: warning: there are circular foreign-key constraints on this table:
pg_dump: detail: continuous_agg
pg_dump: hint: You might not be able to restore the dump without using --disable-triggers or temporarily dropping the constraints.
pg_dump: hint: Consider using a full dump instead of a --data-only dump to avoid this problem.
--
-- PostgreSQL database dump
--

\restrict 04jmQ8ivuKnS9PJCNTzzqPqDVKsLISjeuDxx8fUWXhHUptPYeaen4ehusVzKDaM

-- Dumped from database version 17.9
-- Dumped by pg_dump version 17.9

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: timescaledb; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS timescaledb WITH SCHEMA public;


--
-- Name: EXTENSION timescaledb; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION timescaledb IS 'Enables scalable inserts and complex queries for time-series data (Community Edition)';


--
-- Name: analytics; Type: SCHEMA; Schema: -; Owner: mq_user
--

CREATE SCHEMA analytics;


ALTER SCHEMA analytics OWNER TO mq_user;

--
-- Name: attendance; Type: SCHEMA; Schema: -; Owner: mq_user
--

CREATE SCHEMA attendance;


ALTER SCHEMA attendance OWNER TO mq_user;

--
-- Name: identity; Type: SCHEMA; Schema: -; Owner: mq_user
--

CREATE SCHEMA identity;


ALTER SCHEMA identity OWNER TO mq_user;

--
-- Name: surveillance; Type: SCHEMA; Schema: -; Owner: mq_user
--

CREATE SCHEMA surveillance;


ALTER SCHEMA surveillance OWNER TO mq_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: surveillance_events; Type: TABLE; Schema: surveillance; Owner: mq_user
--

CREATE TABLE surveillance.surveillance_events (
    id bigint NOT NULL,
    timestamp_start timestamp with time zone NOT NULL,
    timestamp_end timestamp with time zone NOT NULL,
    duration_sec double precision NOT NULL,
    track_id integer NOT NULL,
    identity_name text NOT NULL,
    identity_confidence double precision NOT NULL,
    identity_source text NOT NULL,
    activity text NOT NULL,
    event_trigger text NOT NULL
);


ALTER TABLE surveillance.surveillance_events OWNER TO mq_user;

--
-- Name: _hyper_2_1_chunk; Type: TABLE; Schema: _timescaledb_internal; Owner: mq_user
--

CREATE TABLE _timescaledb_internal._hyper_2_1_chunk (
    CONSTRAINT constraint_1 CHECK (((timestamp_start >= '2026-04-02 00:00:00+00'::timestamp with time zone) AND (timestamp_start < '2026-04-09 00:00:00+00'::timestamp with time zone)))
)
INHERITS (surveillance.surveillance_events);


ALTER TABLE _timescaledb_internal._hyper_2_1_chunk OWNER TO mq_user;

--
-- Name: attendance_events; Type: TABLE; Schema: attendance; Owner: mq_user
--

CREATE TABLE attendance.attendance_events (
    id bigint NOT NULL,
    ts double precision NOT NULL,
    ts_at timestamp with time zone NOT NULL,
    person text NOT NULL,
    event text NOT NULL
);


ALTER TABLE attendance.attendance_events OWNER TO mq_user;

--
-- Name: attendance_events_id_seq; Type: SEQUENCE; Schema: attendance; Owner: mq_user
--

CREATE SEQUENCE attendance.attendance_events_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE attendance.attendance_events_id_seq OWNER TO mq_user;

--
-- Name: attendance_events_id_seq; Type: SEQUENCE OWNED BY; Schema: attendance; Owner: mq_user
--

ALTER SEQUENCE attendance.attendance_events_id_seq OWNED BY attendance.attendance_events.id;


--
-- Name: daily_profiles; Type: TABLE; Schema: identity; Owner: mq_user
--

CREATE TABLE identity.daily_profiles (
    id bigint NOT NULL,
    employee_id text NOT NULL,
    date date NOT NULL,
    embedding bytea NOT NULL,
    confidence double precision NOT NULL,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE identity.daily_profiles OWNER TO mq_user;

--
-- Name: daily_profiles_id_seq; Type: SEQUENCE; Schema: identity; Owner: mq_user
--

CREATE SEQUENCE identity.daily_profiles_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE identity.daily_profiles_id_seq OWNER TO mq_user;

--
-- Name: daily_profiles_id_seq; Type: SEQUENCE OWNED BY; Schema: identity; Owner: mq_user
--

ALTER SEQUENCE identity.daily_profiles_id_seq OWNED BY identity.daily_profiles.id;


--
-- Name: alert_cooldowns; Type: TABLE; Schema: public; Owner: mq_user
--

CREATE TABLE public.alert_cooldowns (
    id bigint NOT NULL,
    identity_name character varying(100) NOT NULL,
    alert_type character varying(50) NOT NULL,
    last_alerted_at timestamp(0) without time zone NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.alert_cooldowns OWNER TO mq_user;

--
-- Name: alert_cooldowns_id_seq; Type: SEQUENCE; Schema: public; Owner: mq_user
--

CREATE SEQUENCE public.alert_cooldowns_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.alert_cooldowns_id_seq OWNER TO mq_user;

--
-- Name: alert_cooldowns_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mq_user
--

ALTER SEQUENCE public.alert_cooldowns_id_seq OWNED BY public.alert_cooldowns.id;


--
-- Name: alert_replay_sources; Type: TABLE; Schema: public; Owner: mq_user
--

CREATE TABLE public.alert_replay_sources (
    id bigint NOT NULL,
    behavior_alert_id bigint NOT NULL,
    source_video_path character varying(255) NOT NULL,
    video_start_time timestamp(0) without time zone NOT NULL,
    event_time timestamp(0) without time zone NOT NULL,
    pre_buffer_sec smallint DEFAULT '300'::smallint NOT NULL,
    post_buffer_sec smallint DEFAULT '60'::smallint NOT NULL,
    generated_clip_path character varying(255),
    clip_expires_at timestamp(0) without time zone,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.alert_replay_sources OWNER TO mq_user;

--
-- Name: alert_replay_sources_id_seq; Type: SEQUENCE; Schema: public; Owner: mq_user
--

CREATE SEQUENCE public.alert_replay_sources_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.alert_replay_sources_id_seq OWNER TO mq_user;

--
-- Name: alert_replay_sources_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mq_user
--

ALTER SEQUENCE public.alert_replay_sources_id_seq OWNED BY public.alert_replay_sources.id;


--
-- Name: behavior_alerts; Type: TABLE; Schema: public; Owner: mq_user
--

CREATE TABLE public.behavior_alerts (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    identity_name character varying(100) NOT NULL,
    alert_type character varying(50) NOT NULL,
    duration_minutes double precision NOT NULL,
    threshold_minutes smallint NOT NULL,
    fired_at timestamp(0) without time zone NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.behavior_alerts OWNER TO mq_user;

--
-- Name: behavior_alerts_id_seq; Type: SEQUENCE; Schema: public; Owner: mq_user
--

CREATE SEQUENCE public.behavior_alerts_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.behavior_alerts_id_seq OWNER TO mq_user;

--
-- Name: behavior_alerts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mq_user
--

ALTER SEQUENCE public.behavior_alerts_id_seq OWNED BY public.behavior_alerts.id;


--
-- Name: cache; Type: TABLE; Schema: public; Owner: mq_user
--

CREATE TABLE public.cache (
    key character varying(255) NOT NULL,
    value text NOT NULL,
    expiration bigint NOT NULL
);


ALTER TABLE public.cache OWNER TO mq_user;

--
-- Name: cache_locks; Type: TABLE; Schema: public; Owner: mq_user
--

CREATE TABLE public.cache_locks (
    key character varying(255) NOT NULL,
    owner character varying(255) NOT NULL,
    expiration bigint NOT NULL
);


ALTER TABLE public.cache_locks OWNER TO mq_user;

--
-- Name: jobs; Type: TABLE; Schema: public; Owner: mq_user
--

CREATE TABLE public.jobs (
    id bigint NOT NULL,
    queue character varying(255) NOT NULL,
    payload text NOT NULL,
    attempts smallint NOT NULL,
    reserved_at integer,
    available_at integer NOT NULL,
    created_at integer NOT NULL
);


ALTER TABLE public.jobs OWNER TO mq_user;

--
-- Name: jobs_id_seq; Type: SEQUENCE; Schema: public; Owner: mq_user
--

CREATE SEQUENCE public.jobs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.jobs_id_seq OWNER TO mq_user;

--
-- Name: jobs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mq_user
--

ALTER SEQUENCE public.jobs_id_seq OWNED BY public.jobs.id;


--
-- Name: migrations; Type: TABLE; Schema: public; Owner: mq_user
--

CREATE TABLE public.migrations (
    id integer NOT NULL,
    migration character varying(255) NOT NULL,
    batch integer NOT NULL
);


ALTER TABLE public.migrations OWNER TO mq_user;

--
-- Name: migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: mq_user
--

CREATE SEQUENCE public.migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.migrations_id_seq OWNER TO mq_user;

--
-- Name: migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mq_user
--

ALTER SEQUENCE public.migrations_id_seq OWNED BY public.migrations.id;


--
-- Name: password_reset_otps; Type: TABLE; Schema: public; Owner: mq_user
--

CREATE TABLE public.password_reset_otps (
    id bigint NOT NULL,
    email character varying(255) NOT NULL,
    otp_hash character varying(255) NOT NULL,
    expires_at timestamp(0) without time zone NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.password_reset_otps OWNER TO mq_user;

--
-- Name: password_reset_otps_id_seq; Type: SEQUENCE; Schema: public; Owner: mq_user
--

CREATE SEQUENCE public.password_reset_otps_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.password_reset_otps_id_seq OWNER TO mq_user;

--
-- Name: password_reset_otps_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mq_user
--

ALTER SEQUENCE public.password_reset_otps_id_seq OWNED BY public.password_reset_otps.id;


--
-- Name: personal_access_tokens; Type: TABLE; Schema: public; Owner: mq_user
--

CREATE TABLE public.personal_access_tokens (
    id bigint NOT NULL,
    tokenable_type character varying(255) NOT NULL,
    tokenable_id bigint NOT NULL,
    name text NOT NULL,
    token character varying(64) NOT NULL,
    abilities text,
    last_used_at timestamp(0) without time zone,
    expires_at timestamp(0) without time zone,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.personal_access_tokens OWNER TO mq_user;

--
-- Name: personal_access_tokens_id_seq; Type: SEQUENCE; Schema: public; Owner: mq_user
--

CREATE SEQUENCE public.personal_access_tokens_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.personal_access_tokens_id_seq OWNER TO mq_user;

--
-- Name: personal_access_tokens_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mq_user
--

ALTER SEQUENCE public.personal_access_tokens_id_seq OWNED BY public.personal_access_tokens.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: mq_user
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    email_verified_at timestamp(0) without time zone,
    password character varying(255) NOT NULL,
    role character varying(255) DEFAULT 'viewer'::character varying NOT NULL,
    supervisor_id bigint,
    remember_token character varying(100),
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    is_active boolean DEFAULT true NOT NULL,
    surveillance_identity character varying(100),
    attendance_identity character varying(100),
    CONSTRAINT users_role_check CHECK (((role)::text = ANY ((ARRAY['admin'::character varying, 'superviseur'::character varying, 'viewer'::character varying])::text[])))
);


ALTER TABLE public.users OWNER TO mq_user;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: mq_user
--

CREATE SEQUENCE public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO mq_user;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mq_user
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: surveillance_events_id_seq; Type: SEQUENCE; Schema: surveillance; Owner: mq_user
--

CREATE SEQUENCE surveillance.surveillance_events_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE surveillance.surveillance_events_id_seq OWNER TO mq_user;

--
-- Name: surveillance_events_id_seq; Type: SEQUENCE OWNED BY; Schema: surveillance; Owner: mq_user
--

ALTER SEQUENCE surveillance.surveillance_events_id_seq OWNED BY surveillance.surveillance_events.id;


--
-- Name: _hyper_2_1_chunk id; Type: DEFAULT; Schema: _timescaledb_internal; Owner: mq_user
--

ALTER TABLE ONLY _timescaledb_internal._hyper_2_1_chunk ALTER COLUMN id SET DEFAULT nextval('surveillance.surveillance_events_id_seq'::regclass);


--
-- Name: attendance_events id; Type: DEFAULT; Schema: attendance; Owner: mq_user
--

ALTER TABLE ONLY attendance.attendance_events ALTER COLUMN id SET DEFAULT nextval('attendance.attendance_events_id_seq'::regclass);


--
-- Name: daily_profiles id; Type: DEFAULT; Schema: identity; Owner: mq_user
--

ALTER TABLE ONLY identity.daily_profiles ALTER COLUMN id SET DEFAULT nextval('identity.daily_profiles_id_seq'::regclass);


--
-- Name: alert_cooldowns id; Type: DEFAULT; Schema: public; Owner: mq_user
--

ALTER TABLE ONLY public.alert_cooldowns ALTER COLUMN id SET DEFAULT nextval('public.alert_cooldowns_id_seq'::regclass);


--
-- Name: alert_replay_sources id; Type: DEFAULT; Schema: public; Owner: mq_user
--

ALTER TABLE ONLY public.alert_replay_sources ALTER COLUMN id SET DEFAULT nextval('public.alert_replay_sources_id_seq'::regclass);


--
-- Name: behavior_alerts id; Type: DEFAULT; Schema: public; Owner: mq_user
--

ALTER TABLE ONLY public.behavior_alerts ALTER COLUMN id SET DEFAULT nextval('public.behavior_alerts_id_seq'::regclass);


--
-- Name: jobs id; Type: DEFAULT; Schema: public; Owner: mq_user
--

ALTER TABLE ONLY public.jobs ALTER COLUMN id SET DEFAULT nextval('public.jobs_id_seq'::regclass);


--
-- Name: migrations id; Type: DEFAULT; Schema: public; Owner: mq_user
--

ALTER TABLE ONLY public.migrations ALTER COLUMN id SET DEFAULT nextval('public.migrations_id_seq'::regclass);


--
-- Name: password_reset_otps id; Type: DEFAULT; Schema: public; Owner: mq_user
--

ALTER TABLE ONLY public.password_reset_otps ALTER COLUMN id SET DEFAULT nextval('public.password_reset_otps_id_seq'::regclass);


--
-- Name: personal_access_tokens id; Type: DEFAULT; Schema: public; Owner: mq_user
--

ALTER TABLE ONLY public.personal_access_tokens ALTER COLUMN id SET DEFAULT nextval('public.personal_access_tokens_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: mq_user
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: surveillance_events id; Type: DEFAULT; Schema: surveillance; Owner: mq_user
--

ALTER TABLE ONLY surveillance.surveillance_events ALTER COLUMN id SET DEFAULT nextval('surveillance.surveillance_events_id_seq'::regclass);


--
-- Data for Name: hypertable; Type: TABLE DATA; Schema: _timescaledb_catalog; Owner: mq_user
--

COPY _timescaledb_catalog.hypertable (id, schema_name, table_name, associated_schema_name, associated_table_prefix, num_dimensions, chunk_sizing_func_schema, chunk_sizing_func_name, chunk_target_size, compression_state, compressed_hypertable_id, status) FROM stdin;
2	surveillance	surveillance_events	_timescaledb_internal	_hyper_2	1	_timescaledb_functions	calculate_chunk_interval	0	0	\N	0
\.


--
-- Data for Name: bgw_job; Type: TABLE DATA; Schema: _timescaledb_catalog; Owner: mq_user
--

COPY _timescaledb_catalog.bgw_job (id, application_name, schedule_interval, max_runtime, max_retries, retry_period, proc_schema, proc_name, owner, scheduled, fixed_schedule, initial_start, hypertable_id, config, check_schema, check_name, timezone) FROM stdin;
\.


--
-- Data for Name: chunk; Type: TABLE DATA; Schema: _timescaledb_catalog; Owner: mq_user
--

COPY _timescaledb_catalog.chunk (id, hypertable_id, schema_name, table_name, compressed_chunk_id, status, osm_chunk, creation_time) FROM stdin;
1	2	_timescaledb_internal	_hyper_2_1_chunk	\N	0	f	2026-04-07 13:59:52.880886+00
\.


--
-- Data for Name: chunk_column_stats; Type: TABLE DATA; Schema: _timescaledb_catalog; Owner: mq_user
--

COPY _timescaledb_catalog.chunk_column_stats (id, hypertable_id, chunk_id, column_name, range_start, range_end, valid) FROM stdin;
\.


--
-- Data for Name: dimension; Type: TABLE DATA; Schema: _timescaledb_catalog; Owner: mq_user
--

COPY _timescaledb_catalog.dimension (id, hypertable_id, column_name, column_type, aligned, num_slices, partitioning_func_schema, partitioning_func, interval_length, compress_interval_length, integer_now_func_schema, integer_now_func) FROM stdin;
2	2	timestamp_start	timestamp with time zone	t	\N	\N	\N	604800000000	\N	\N	\N
\.


--
-- Data for Name: dimension_slice; Type: TABLE DATA; Schema: _timescaledb_catalog; Owner: mq_user
--

COPY _timescaledb_catalog.dimension_slice (id, dimension_id, range_start, range_end) FROM stdin;
1	2	1775088000000000	1775692800000000
\.


--
-- Data for Name: chunk_constraint; Type: TABLE DATA; Schema: _timescaledb_catalog; Owner: mq_user
--

COPY _timescaledb_catalog.chunk_constraint (chunk_id, dimension_slice_id, constraint_name, hypertable_constraint_name) FROM stdin;
1	1	constraint_1	\N
1	\N	1_1_surveillance_events_pkey	surveillance_events_pkey
\.


--
-- Data for Name: compression_chunk_size; Type: TABLE DATA; Schema: _timescaledb_catalog; Owner: mq_user
--

COPY _timescaledb_catalog.compression_chunk_size (chunk_id, compressed_chunk_id, uncompressed_heap_size, uncompressed_toast_size, uncompressed_index_size, compressed_heap_size, compressed_toast_size, compressed_index_size, numrows_pre_compression, numrows_post_compression, numrows_frozen_immediately) FROM stdin;
\.


--
-- Data for Name: compression_settings; Type: TABLE DATA; Schema: _timescaledb_catalog; Owner: mq_user
--

COPY _timescaledb_catalog.compression_settings (relid, compress_relid, segmentby, orderby, orderby_desc, orderby_nullsfirst, index) FROM stdin;
\.


--
-- Data for Name: continuous_agg; Type: TABLE DATA; Schema: _timescaledb_catalog; Owner: mq_user
--

COPY _timescaledb_catalog.continuous_agg (mat_hypertable_id, raw_hypertable_id, parent_mat_hypertable_id, user_view_schema, user_view_name, partial_view_schema, partial_view_name, direct_view_schema, direct_view_name, materialized_only) FROM stdin;
\.


--
-- Data for Name: continuous_aggs_bucket_function; Type: TABLE DATA; Schema: _timescaledb_catalog; Owner: mq_user
--

COPY _timescaledb_catalog.continuous_aggs_bucket_function (mat_hypertable_id, bucket_func, bucket_width, bucket_origin, bucket_offset, bucket_timezone, bucket_fixed_width) FROM stdin;
\.


--
-- Data for Name: continuous_aggs_hypertable_invalidation_log; Type: TABLE DATA; Schema: _timescaledb_catalog; Owner: mq_user
--

COPY _timescaledb_catalog.continuous_aggs_hypertable_invalidation_log (hypertable_id, lowest_modified_value, greatest_modified_value) FROM stdin;
\.


--
-- Data for Name: continuous_aggs_invalidation_threshold; Type: TABLE DATA; Schema: _timescaledb_catalog; Owner: mq_user
--

COPY _timescaledb_catalog.continuous_aggs_invalidation_threshold (hypertable_id, watermark) FROM stdin;
\.


--
-- Data for Name: continuous_aggs_materialization_invalidation_log; Type: TABLE DATA; Schema: _timescaledb_catalog; Owner: mq_user
--

COPY _timescaledb_catalog.continuous_aggs_materialization_invalidation_log (materialization_id, lowest_modified_value, greatest_modified_value) FROM stdin;
\.


--
-- Data for Name: continuous_aggs_materialization_ranges; Type: TABLE DATA; Schema: _timescaledb_catalog; Owner: mq_user
--

COPY _timescaledb_catalog.continuous_aggs_materialization_ranges (materialization_id, lowest_modified_value, greatest_modified_value) FROM stdin;
\.


--
-- Data for Name: continuous_aggs_watermark; Type: TABLE DATA; Schema: _timescaledb_catalog; Owner: mq_user
--

COPY _timescaledb_catalog.continuous_aggs_watermark (mat_hypertable_id, watermark) FROM stdin;
\.


--
-- Data for Name: metadata; Type: TABLE DATA; Schema: _timescaledb_catalog; Owner: mq_user
--

COPY _timescaledb_catalog.metadata (key, value, include_in_telemetry) FROM stdin;
install_timestamp	2026-04-07 10:46:31.20556+00	t
timescaledb_version	2.26.1	f
\.


--
-- Data for Name: tablespace; Type: TABLE DATA; Schema: _timescaledb_catalog; Owner: mq_user
--

COPY _timescaledb_catalog.tablespace (id, hypertable_id, tablespace_name) FROM stdin;
\.


--
-- Data for Name: _hyper_2_1_chunk; Type: TABLE DATA; Schema: _timescaledb_internal; Owner: mq_user
--

COPY _timescaledb_internal._hyper_2_1_chunk (id, timestamp_start, timestamp_end, duration_sec, track_id, identity_name, identity_confidence, identity_source, activity, event_trigger) FROM stdin;
1	2026-04-07 13:49:37.467565+00	2026-04-07 13:50:07.467565+00	30	1	test_user	0.95	manual_test	Inactive	activity_change
\.


--
-- Data for Name: attendance_events; Type: TABLE DATA; Schema: attendance; Owner: mq_user
--

COPY attendance.attendance_events (id, ts, ts_at, person, event) FROM stdin;
1	1775561931.8834057	2026-04-07 11:38:51.883405+00	test_user	check_in
\.


--
-- Data for Name: daily_profiles; Type: TABLE DATA; Schema: identity; Owner: mq_user
--



--
-- Data for Name: alert_cooldowns; Type: TABLE DATA; Schema: public; Owner: mq_user
--

COPY public.alert_cooldowns (id, identity_name, alert_type, last_alerted_at, created_at, updated_at) FROM stdin;
1	test_user	late_arrival	2026-04-07 11:56:27	2026-04-07 11:56:27	2026-04-07 11:56:27
\.


--
-- Data for Name: alert_replay_sources; Type: TABLE DATA; Schema: public; Owner: mq_user
--

COPY public.alert_replay_sources (id, behavior_alert_id, source_video_path, video_start_time, event_time, pre_buffer_sec, post_buffer_sec, generated_clip_path, clip_expires_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: behavior_alerts; Type: TABLE DATA; Schema: public; Owner: mq_user
--

COPY public.behavior_alerts (id, user_id, identity_name, alert_type, duration_minutes, threshold_minutes, fired_at, created_at, updated_at) FROM stdin;
1	2	test_user	late_arrival	203.9	15	2026-04-07 11:56:27	2026-04-07 11:56:27	2026-04-07 11:56:27
2	2	test_user	late_arrival	203.9	15	2026-04-07 11:56:27	2026-04-07 11:56:27	2026-04-07 11:56:27
\.


--
-- Data for Name: cache; Type: TABLE DATA; Schema: public; Owner: mq_user
--

COPY public.cache (key, value, expiration) FROM stdin;
\.


--
-- Data for Name: cache_locks; Type: TABLE DATA; Schema: public; Owner: mq_user
--

COPY public.cache_locks (key, owner, expiration) FROM stdin;
\.


--
-- Data for Name: jobs; Type: TABLE DATA; Schema: public; Owner: mq_user
--

COPY public.jobs (id, queue, payload, attempts, reserved_at, available_at, created_at) FROM stdin;
\.


--
-- Data for Name: migrations; Type: TABLE DATA; Schema: public; Owner: mq_user
--



--
-- Data for Name: password_reset_otps; Type: TABLE DATA; Schema: public; Owner: mq_user
--

COPY public.password_reset_otps (id, email, otp_hash, expires_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: personal_access_tokens; Type: TABLE DATA; Schema: public; Owner: mq_user
--

COPY public.personal_access_tokens (id, tokenable_type, tokenable_id, name, token, abilities, last_used_at, expires_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: mq_user
--

COPY public.users (id, name, email, email_verified_at, password, role, supervisor_id, remember_token, created_at, updated_at, is_active, surveillance_identity, attendance_identity) FROM stdin;
1	Test User	test@example.com	\N	$2y$12$rm.SbLDUK.VlNubi5rjG4OlzHQvZPPq6PTNaLRiEcD1I.JK5TyLYG	viewer	\N	\N	2026-04-07 11:42:47	2026-04-07 11:42:47	t	\N	test_user
2	Admin User	admin@example.com	\N	$2y$12$8pK38tTuj5nulM9u7qvh6OCVR1qGjUbugjdxTyjgsBTcw37dvuY9.	admin	\N	\N	2026-04-07 11:46:06	2026-04-07 11:46:06	t	\N	\N
\.


--
-- Data for Name: surveillance_events; Type: TABLE DATA; Schema: surveillance; Owner: mq_user
--

COPY surveillance.surveillance_events (id, timestamp_start, timestamp_end, duration_sec, track_id, identity_name, identity_confidence, identity_source, activity, event_trigger) FROM stdin;
\.


--
-- Name: bgw_job_id_seq; Type: SEQUENCE SET; Schema: _timescaledb_catalog; Owner: mq_user
--

SELECT pg_catalog.setval('_timescaledb_catalog.bgw_job_id_seq', 1000, false);


--
-- Name: chunk_column_stats_id_seq; Type: SEQUENCE SET; Schema: _timescaledb_catalog; Owner: mq_user
--

SELECT pg_catalog.setval('_timescaledb_catalog.chunk_column_stats_id_seq', 1, false);


--
-- Name: chunk_constraint_name; Type: SEQUENCE SET; Schema: _timescaledb_catalog; Owner: mq_user
--

SELECT pg_catalog.setval('_timescaledb_catalog.chunk_constraint_name', 1, true);


--
-- Name: chunk_id_seq; Type: SEQUENCE SET; Schema: _timescaledb_catalog; Owner: mq_user
--

SELECT pg_catalog.setval('_timescaledb_catalog.chunk_id_seq', 1, true);


--
-- Name: dimension_id_seq; Type: SEQUENCE SET; Schema: _timescaledb_catalog; Owner: mq_user
--

SELECT pg_catalog.setval('_timescaledb_catalog.dimension_id_seq', 2, true);


--
-- Name: dimension_slice_id_seq; Type: SEQUENCE SET; Schema: _timescaledb_catalog; Owner: mq_user
--

SELECT pg_catalog.setval('_timescaledb_catalog.dimension_slice_id_seq', 1, true);


--
-- Name: hypertable_id_seq; Type: SEQUENCE SET; Schema: _timescaledb_catalog; Owner: mq_user
--

SELECT pg_catalog.setval('_timescaledb_catalog.hypertable_id_seq', 2, true);


--
-- Name: attendance_events_id_seq; Type: SEQUENCE SET; Schema: attendance; Owner: mq_user
--

SELECT pg_catalog.setval('attendance.attendance_events_id_seq', 1, true);


--
-- Name: daily_profiles_id_seq; Type: SEQUENCE SET; Schema: identity; Owner: mq_user
--

SELECT pg_catalog.setval('identity.daily_profiles_id_seq', 1, true);


--
-- Name: alert_cooldowns_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mq_user
--

SELECT pg_catalog.setval('public.alert_cooldowns_id_seq', 1, true);


--
-- Name: alert_replay_sources_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mq_user
--

SELECT pg_catalog.setval('public.alert_replay_sources_id_seq', 1, false);


--
-- Name: behavior_alerts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mq_user
--

SELECT pg_catalog.setval('public.behavior_alerts_id_seq', 2, true);


--
-- Name: jobs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mq_user
--

SELECT pg_catalog.setval('public.jobs_id_seq', 1, false);


--
-- Name: migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mq_user
--

SELECT pg_catalog.setval('public.migrations_id_seq', 11, true);


--
-- Name: password_reset_otps_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mq_user
--

SELECT pg_catalog.setval('public.password_reset_otps_id_seq', 1, false);


--
-- Name: personal_access_tokens_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mq_user
--

SELECT pg_catalog.setval('public.personal_access_tokens_id_seq', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mq_user
--

SELECT pg_catalog.setval('public.users_id_seq', 2, true);


--
-- Name: surveillance_events_id_seq; Type: SEQUENCE SET; Schema: surveillance; Owner: mq_user
--

SELECT pg_catalog.setval('surveillance.surveillance_events_id_seq', 1, true);


--
-- Name: _hyper_2_1_chunk 1_1_surveillance_events_pkey; Type: CONSTRAINT; Schema: _timescaledb_internal; Owner: mq_user
--

ALTER TABLE ONLY _timescaledb_internal._hyper_2_1_chunk
    ADD CONSTRAINT "1_1_surveillance_events_pkey" PRIMARY KEY (timestamp_start, id);


--
-- Name: attendance_events attendance_events_pkey; Type: CONSTRAINT; Schema: attendance; Owner: mq_user
--

ALTER TABLE ONLY attendance.attendance_events
    ADD CONSTRAINT attendance_events_pkey PRIMARY KEY (id);


--
-- Name: daily_profiles daily_profiles_pkey; Type: CONSTRAINT; Schema: identity; Owner: mq_user
--

ALTER TABLE ONLY identity.daily_profiles
    ADD CONSTRAINT daily_profiles_pkey PRIMARY KEY (id);


--
-- Name: alert_cooldowns alert_cooldowns_identity_name_alert_type_unique; Type: CONSTRAINT; Schema: public; Owner: mq_user
--

ALTER TABLE ONLY public.alert_cooldowns
    ADD CONSTRAINT alert_cooldowns_identity_name_alert_type_unique UNIQUE (identity_name, alert_type);


--
-- Name: alert_cooldowns alert_cooldowns_pkey; Type: CONSTRAINT; Schema: public; Owner: mq_user
--

ALTER TABLE ONLY public.alert_cooldowns
    ADD CONSTRAINT alert_cooldowns_pkey PRIMARY KEY (id);


--
-- Name: alert_replay_sources alert_replay_sources_behavior_alert_id_unique; Type: CONSTRAINT; Schema: public; Owner: mq_user
--

ALTER TABLE ONLY public.alert_replay_sources
    ADD CONSTRAINT alert_replay_sources_behavior_alert_id_unique UNIQUE (behavior_alert_id);


--
-- Name: alert_replay_sources alert_replay_sources_pkey; Type: CONSTRAINT; Schema: public; Owner: mq_user
--

ALTER TABLE ONLY public.alert_replay_sources
    ADD CONSTRAINT alert_replay_sources_pkey PRIMARY KEY (id);


--
-- Name: behavior_alerts behavior_alerts_pkey; Type: CONSTRAINT; Schema: public; Owner: mq_user
--

ALTER TABLE ONLY public.behavior_alerts
    ADD CONSTRAINT behavior_alerts_pkey PRIMARY KEY (id);


--
-- Name: cache_locks cache_locks_pkey; Type: CONSTRAINT; Schema: public; Owner: mq_user
--

ALTER TABLE ONLY public.cache_locks
    ADD CONSTRAINT cache_locks_pkey PRIMARY KEY (key);


--
-- Name: cache cache_pkey; Type: CONSTRAINT; Schema: public; Owner: mq_user
--

ALTER TABLE ONLY public.cache
    ADD CONSTRAINT cache_pkey PRIMARY KEY (key);


--
-- Name: jobs jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: mq_user
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT jobs_pkey PRIMARY KEY (id);


--
-- Name: migrations migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: mq_user
--

ALTER TABLE ONLY public.migrations
    ADD CONSTRAINT migrations_pkey PRIMARY KEY (id);


--
-- Name: password_reset_otps password_reset_otps_email_unique; Type: CONSTRAINT; Schema: public; Owner: mq_user
--

ALTER TABLE ONLY public.password_reset_otps
    ADD CONSTRAINT password_reset_otps_email_unique UNIQUE (email);


--
-- Name: password_reset_otps password_reset_otps_pkey; Type: CONSTRAINT; Schema: public; Owner: mq_user
--

ALTER TABLE ONLY public.password_reset_otps
    ADD CONSTRAINT password_reset_otps_pkey PRIMARY KEY (id);


--
-- Name: personal_access_tokens personal_access_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: mq_user
--

ALTER TABLE ONLY public.personal_access_tokens
    ADD CONSTRAINT personal_access_tokens_pkey PRIMARY KEY (id);


--
-- Name: personal_access_tokens personal_access_tokens_token_unique; Type: CONSTRAINT; Schema: public; Owner: mq_user
--

ALTER TABLE ONLY public.personal_access_tokens
    ADD CONSTRAINT personal_access_tokens_token_unique UNIQUE (token);


--
-- Name: users users_attendance_identity_unique; Type: CONSTRAINT; Schema: public; Owner: mq_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_attendance_identity_unique UNIQUE (attendance_identity);


--
-- Name: users users_email_unique; Type: CONSTRAINT; Schema: public; Owner: mq_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_unique UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: mq_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_surveillance_identity_unique; Type: CONSTRAINT; Schema: public; Owner: mq_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_surveillance_identity_unique UNIQUE (surveillance_identity);


--
-- Name: surveillance_events surveillance_events_pkey; Type: CONSTRAINT; Schema: surveillance; Owner: mq_user
--

ALTER TABLE ONLY surveillance.surveillance_events
    ADD CONSTRAINT surveillance_events_pkey PRIMARY KEY (timestamp_start, id);


--
-- Name: _hyper_2_1_chunk_idx_se_identity; Type: INDEX; Schema: _timescaledb_internal; Owner: mq_user
--

CREATE INDEX _hyper_2_1_chunk_idx_se_identity ON _timescaledb_internal._hyper_2_1_chunk USING btree (identity_name);


--
-- Name: _hyper_2_1_chunk_idx_se_trigger; Type: INDEX; Schema: _timescaledb_internal; Owner: mq_user
--

CREATE INDEX _hyper_2_1_chunk_idx_se_trigger ON _timescaledb_internal._hyper_2_1_chunk USING btree (event_trigger);


--
-- Name: _hyper_2_1_chunk_idx_se_ts_start; Type: INDEX; Schema: _timescaledb_internal; Owner: mq_user
--

CREATE INDEX _hyper_2_1_chunk_idx_se_ts_start ON _timescaledb_internal._hyper_2_1_chunk USING btree (timestamp_start);


--
-- Name: _hyper_2_1_chunk_idx_surv_activity_time; Type: INDEX; Schema: _timescaledb_internal; Owner: mq_user
--

CREATE INDEX _hyper_2_1_chunk_idx_surv_activity_time ON _timescaledb_internal._hyper_2_1_chunk USING btree (activity, timestamp_start DESC);


--
-- Name: _hyper_2_1_chunk_idx_surv_identity_activity_time; Type: INDEX; Schema: _timescaledb_internal; Owner: mq_user
--

CREATE INDEX _hyper_2_1_chunk_idx_surv_identity_activity_time ON _timescaledb_internal._hyper_2_1_chunk USING btree (identity_name, activity, timestamp_start DESC);


--
-- Name: _hyper_2_1_chunk_idx_surv_identity_time; Type: INDEX; Schema: _timescaledb_internal; Owner: mq_user
--

CREATE INDEX _hyper_2_1_chunk_idx_surv_identity_time ON _timescaledb_internal._hyper_2_1_chunk USING btree (identity_name, timestamp_start DESC);


--
-- Name: uniq_checkin_per_day; Type: INDEX; Schema: attendance; Owner: mq_user
--

CREATE UNIQUE INDEX uniq_checkin_per_day ON attendance.attendance_events USING btree (person, event, (((ts_at AT TIME ZONE 'UTC'::text))::date));


--
-- Name: uix_daily_profiles_employee_date; Type: INDEX; Schema: identity; Owner: mq_user
--

CREATE UNIQUE INDEX uix_daily_profiles_employee_date ON identity.daily_profiles USING btree (employee_id, date);


--
-- Name: behavior_alerts_user_id_fired_at_index; Type: INDEX; Schema: public; Owner: mq_user
--

CREATE INDEX behavior_alerts_user_id_fired_at_index ON public.behavior_alerts USING btree (user_id, fired_at);


--
-- Name: cache_expiration_index; Type: INDEX; Schema: public; Owner: mq_user
--

CREATE INDEX cache_expiration_index ON public.cache USING btree (expiration);


--
-- Name: cache_locks_expiration_index; Type: INDEX; Schema: public; Owner: mq_user
--

CREATE INDEX cache_locks_expiration_index ON public.cache_locks USING btree (expiration);


--
-- Name: jobs_queue_index; Type: INDEX; Schema: public; Owner: mq_user
--

CREATE INDEX jobs_queue_index ON public.jobs USING btree (queue);


--
-- Name: personal_access_tokens_expires_at_index; Type: INDEX; Schema: public; Owner: mq_user
--

CREATE INDEX personal_access_tokens_expires_at_index ON public.personal_access_tokens USING btree (expires_at);


--
-- Name: personal_access_tokens_tokenable_type_tokenable_id_index; Type: INDEX; Schema: public; Owner: mq_user
--

CREATE INDEX personal_access_tokens_tokenable_type_tokenable_id_index ON public.personal_access_tokens USING btree (tokenable_type, tokenable_id);


--
-- Name: idx_se_identity; Type: INDEX; Schema: surveillance; Owner: mq_user
--

CREATE INDEX idx_se_identity ON surveillance.surveillance_events USING btree (identity_name);


--
-- Name: idx_se_trigger; Type: INDEX; Schema: surveillance; Owner: mq_user
--

CREATE INDEX idx_se_trigger ON surveillance.surveillance_events USING btree (event_trigger);


--
-- Name: idx_se_ts_start; Type: INDEX; Schema: surveillance; Owner: mq_user
--

CREATE INDEX idx_se_ts_start ON surveillance.surveillance_events USING btree (timestamp_start);


--
-- Name: idx_surv_activity_time; Type: INDEX; Schema: surveillance; Owner: mq_user
--

CREATE INDEX idx_surv_activity_time ON surveillance.surveillance_events USING btree (activity, timestamp_start DESC);


--
-- Name: idx_surv_identity_activity_time; Type: INDEX; Schema: surveillance; Owner: mq_user
--

CREATE INDEX idx_surv_identity_activity_time ON surveillance.surveillance_events USING btree (identity_name, activity, timestamp_start DESC);


--
-- Name: idx_surv_identity_time; Type: INDEX; Schema: surveillance; Owner: mq_user
--

CREATE INDEX idx_surv_identity_time ON surveillance.surveillance_events USING btree (identity_name, timestamp_start DESC);


--
-- Name: alert_replay_sources alert_replay_sources_behavior_alert_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: mq_user
--

ALTER TABLE ONLY public.alert_replay_sources
    ADD CONSTRAINT alert_replay_sources_behavior_alert_id_foreign FOREIGN KEY (behavior_alert_id) REFERENCES public.behavior_alerts(id) ON DELETE CASCADE;


--
-- Name: behavior_alerts behavior_alerts_user_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: mq_user
--

ALTER TABLE ONLY public.behavior_alerts
    ADD CONSTRAINT behavior_alerts_user_id_foreign FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: users users_supervisor_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: mq_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_supervisor_id_foreign FOREIGN KEY (supervisor_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

\unrestrict 04jmQ8ivuKnS9PJCNTzzqPqDVKsLISjeuDxx8fUWXhHUptPYeaen4ehusVzKDaM

